.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 24px 0;
    transition: all 0.3s ease;
    background: transparent;
}

.navbar--scrolled {
    background: var(--cream);
    border-bottom: 0.5px solid var(--gray-lt);
    padding: 16px 0;
}

.navbar__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--serif);
    font-size: 26px;
    font-weight: 600;
    color: var(--black);
    letter-spacing: -1px;
}


.navbar__logo-dot {
    color: var(--gold);
}

.navbar__logo-img {
    height: 20px;
    width: auto;
    object-fit: contain;
    display: block;

    transition: transform 0.3s ease, filter 0.3s ease;
}

.navbar__logo-img:hover {
    transform: scale(1.08);
    filter: brightness(1.1);
}

.navbar__logo-text {
    font-family: var(--serif);
    font-size: 26px;
    font-weight: 600;
    color: var(--black);
    letter-spacing: -1px;
}

.navbar__nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar__link {
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--gray);
    font-weight: 400;
    transition: color 0.2s ease;
    position: relative;
}

.navbar__link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 0.5px;
    background: var(--gold);
    transition: width 0.3s ease;
}

.navbar__link:hover {
    color: var(--black);
}

.navbar__link:hover::after {
    width: 100%;
}

.navbar__link--active {
    color: var(--black);
}

.navbar__link--active::after {
    width: 100%;
}

.navbar__link.btn {
    padding: 10px 24px;
}

.navbar__link.btn::after {
    display: none;
}

.navbar__burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.navbar__burger span {
    display: block;
    width: 24px;
    height: 0.5px;
    background: var(--black);
    transition: all 0.3s ease;
}

.navbar__burger.active span:nth-child(1) {
    transform: translateY(5.5px) rotate(45deg);
}

.navbar__burger.active span:nth-child(2) {
    opacity: 0;
}

.navbar__burger.active span:nth-child(3) {
    transform: translateY(-5.5px) rotate(-45deg);
}

@media (max-width: 768px) {
    .navbar__burger {
        display: flex;
    }

    .navbar__nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--cream);
        border-bottom: 0.5px solid var(--gray-lt);
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        padding: 1rem 0;
    }

    .navbar__nav.open {
        display: flex;
    }

    .navbar__link {
        width: 100%;
        padding: 14px 5%;
    }

    .navbar__link.btn {
        margin: 14px 5%;
        width: auto;
    }
}